/* Empiezo importando la fuente para mi proyecto*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* estas son todas las variables de colores que utilice en mis estilos*/

:root{
   --colorazul: #E1F4F3;
   --colornegro: #333333;
   --colormarron: #706C61;
   --colorblanco: #ffffff;  
   
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* principales caracteristicas de la pagina web*/
body {
    background-image:url(./fondoimagenback.png);
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200vw;
    font-style: normal;


}

header {
    background-color: var(--colornegro);
    width: 100%;
    height: 12vh;
 
    
  
}
/* parametros del header, intento hacerlo muy parecido a las paginas regulares de internet*/
.menuNavegacion{
   
   width: 100%;
   height: 12vh;  
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
   text-decoration: none;
   color: var(--colorazul);
   list-style: none; 


}


.logoEncabezado{

   height: 25vh;
   width: 25%;
   

}

.logoEncabezado a{
   
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   text-decoration: none;
   color: var(--colorazul);
   font-size: 25px;
   padding-left: 10px;


}
.listaMenu {
   
   display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 10px;
    }

.listaMenu a{

   text-decoration: none;
   color: var(--colorazul);
}
/*aqui implemente algunas transformaciones leves para mi menu, es un hover muy minimo pero agradable a la vista*/
.perfilBottom{

   transition: all 300ms ease-in-out;
}
.perfilBottom:hover{
   transform: scale(1.5);
}

.experienciaBottom{

   transition: all 300ms ease-in-out;
}
.experienciaBottom:hover{
   transform: scale(1.5);
}
.vidaBottom{

   transition: all 300ms ease-in-out;
}
.vidaBottom:hover{
   transform: scale(1.5);
}
.githubBottom{

   transition: all 300ms ease-in-out;
}
.githubBottom:hover{
   transform: scale(1.5);
}




   


main{

    font-size: medium;
    width: 100%;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;

   
    



 }

 .tituloCuerpo{

    display: flex;
    justify-content: center;
    color: var(--colornegro);
 
    
   
 }



 .seccionUno{

    display: flex;
    justify-content: right;
    color: var(--colornegro);
    padding-top: 100px;
    gap: 150px;
    align-items: center ;
    text-align: right;
    padding-bottom: 100px;
    font-weight: bold;


 }

 .foto{ border-radius: 50px;}

 .mediaPagina{

    background-color: var(--colornegro);
    color: var(--colorazul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;


    
 }
 #tituloMedio{

    justify-content: center;

 }
 /* realice una cuadrilla de 3 * 2 con texto que solo sera visible al deslizar el mouse sobre las imagenes dentro de la cuadrilla (hover)*/

 .experienciaLogos{

   padding-top: 100px;
 
    
   overflow: hidden;
   display: grid;
   grid-template-rows: (2,1fr);
   grid-template-columns:repeat(3, 1fr);
   padding-bottom: 100px;

   
   
   
 }


 .imagenes{ 
   display: grid;
   position: relative;
   background-color: var(--colorblanco);
   width: 100%;

   

}

   .img1{
      grid-row: 1/2;
      grid-column: 1/2;
  }

  .img4{
   grid-row: 2/3;
   grid-column: 1/2;
  }

  .img5{
   grid-row: 2/3;
   grid-column: 3/4;
  }

  
 .parrafoImagenes{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--colornegro);
   display: flex;
   justify-content: center;
    align-items: center;
    padding: 25px;
    color: var(--colorblanco);
    opacity: 0; 
 }

 .parrafoImagenes:hover{ 

   opacity: 0.9;
   cursor: pointer;
 }

 .habilidades{

   display: flex;
   
    justify-content: space-around;
    color: var(--colornegro);
    padding-top: 100px;
    gap: 10px;
    align-items: right ;
    text-align: left;
    padding-bottom: 100px;

 }
.textoHabilidades{
   width: 60%;
   font-weight: bold;

}
/* aqui realice una animacion de escala dondo aumenta y disminuye el tamaño de mi cuadrilla, es realmente muy minima para que nos e vea ostentosa*/

 .imagenesHabilidades{

   border: solid var(--colornegro);
   overflow: hidden;
   display: grid;
   grid-template-rows: (2,1fr);
   grid-template-columns:repeat(2, 1fr);
   animation-name: girar;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-direction: alternate-reverse;
    }

    @keyframes girar{

      from{
         transform: scale(0.9);
      }

      50%{transform: scale(1);}

      to{scale: 1.1;}


    }

 


 

 footer{background-color: var(--colormarron);
   display: flex;
   justify-content: space-between;

}

 .footerCopy{

   display: flex;
   justify-content: first baseline;
   align-items: center;
 }

 .footerRedes{
   padding-right: 50px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   gap: 10px;
  

 }

 /* hice una adaptacion para iphone 12 pro*/

 @media screen and (max-width:490px){

   .menuNavegacion{
      font-size: 10px;
      display: flex;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 5px;
      
    

   }

   .titulo1{
      font-size: 10px;
      padding-bottom: 20px;
   }

   .logoIcon1{

      width: 40px;
      height: 40px;
   }

   .listaMenu{

      gap: 8px;
   }

   .tituloCuerpo{

      font-size:16.5px;
   }

  .seccionUno{
   display: flex;
   flex-direction: column;
   gap: 15px;
   text-align: justify;
   font-size: 10px;
   padding-top: 15px;
   padding-bottom: 40px;
  }
  .mediaPagina{
   font-size: 10px;
   padding-left: 5px;
   padding-right: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 5px;
   

  }
  .imgIconMedio{

   width: 40px;
   height: 40px;
}
.experienciaLogos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   text-align: justify;
   font-size: 10px;
   padding-top: 15px;
   padding-bottom: 40px;
   padding-left: 0;
   padding-right:0;

   
}


.habilidades{

   display: flex;
   flex-direction: column;
   gap: 20px;
   text-align: justify;
   font-size: 10px;
   padding-top: 15px;
   padding-bottom: 40px;
   
}

.textoHabilidades{

   width: 100%;
}

.footer{
   font-size: 10px;
      display: flex;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 0px;
}

.footerCopy{
   font-size: 8px;
}

}

/*no fue necesario realizar ajustes para la adaptacion para el ipad pro teniendo en cuenta que al momento de hacer la visualizacion se ve bastante agradable y coherente a la vista*/









